{ "metrics_url": "https://dataproduct-oscli.orangestack.com/v1/events/oscli/1/general_metrics", "metrics_enabled": false, "download_server": "https://stk-dev.stackspot.com", "device_url": "https://new-portal-api.qa.stackspot.com/security/device-code", "idm_base_url": "https://idm.qa.stackspot.com", "actions_base_url": "https://actions-api.qa.stackspot.com/actions/v1", "activation_base_url": "https://activation-code-api.qa.stackspot.com" }